@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.strokeText{
  -webkit-text-stroke: 0.5px #fff;
  -webkit-text-fill-color: transparent;
}
.large{
  
}
.trapezoid{
  clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);

}
.parellelogram{
  clip-path: polygon(44% 0, 100% 0, 56% 100%, 0% 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

